.titlefont{
  font-family: "narly", sans-serif;
  font-weight: 700;
  font-style: normal
}

.titleregularfont{
  font-family: "narly", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-mono-regular {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

html,body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: black;
  background-image: url("image/background2.png");
  background-repeat: repeat;
  background-size: auto;
  border: none;
  height: 2000px;
  width: 100%;
}

.image{
  position: absolute;
  z-index:1;
}

.enter {
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: url("gifs/front-logobutton.gif") no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  margin: 0;
}
